<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="main-page">
    <h1>My Express-Dev-Skills Lab</h1>

    <button class="btn-main-page">
      <a class="link-main-page" href="/skills">Go to Skills</a>
    </button>
    <button class="btn-main-page">
      <a class="link-main-page" href="/skills/new">Add New Skill</a>
    </button>
  </body>
</html>
